

{% extends 'flatpages/default.html' %}
    
{% block title %}
Add new post
{% endblock title %}

{% block content %}
    <style>
    p, label{
        font-weight: bold;
        color: rgba(0, 0, 0, 0.573);
        font-style: italic;
    }
    .add-form{
      min-height: 90px;
      max-width: 620px;
      border: 3px solid  #00ddff1c;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      margin: 5px auto;
      background-color: white;
   }
   .id_add {
        padding-bottom: 20px;
    }
    .ad_author, #id_category, #id_title{
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.573);
        width: 25%;
        margin: 5px auto;
    }
    .id_add #id_author{
        display: none;
    }
    .id_add label[for="id_content"] {
        display: none;
    }
    .id_add label[for="id_files"] {
        display: none;
    }
    .id_add label[for="id_check_box"] {
        display: none;
    }
    .id_add label[for="id_author"] {
        display: none;
    } 
    #id_check_box[alt] {
        content: 'fff';
    }
    #id_files{
        max-width: 222px;
    }
    /* .id_add label + input:focus {
        display: none!important;
    }
             */
    .text-center{
        max-width: 500px;
        margin: 0 auto;
    }
    .id_add textarea {
        height: 80px;
        margin: 10px auto 20px;
        width:87%;
        max-width: 360px;
        border: 3px solid transparent;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    </style>
    <div class="add-form">
        <div class="ad_topic">
            <p style="font-weight: bold; color:rgba(0, 0, 0, 0.573);font-style:italic;">{{ Ad.category }}</p>
        </div>
        <h1>Add new ad</h1>
    <form method="POST" class="id_add form" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="ad_author">Author: {{ actual_user }}</p>
        {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
        
        <input href="sign/upgrade/" type="submit" value="Добавить пост">
</form>
</div>
{% endblock content %}

<!-- {% if is_not_premium %}
<button> <a > Хочу Premium!</a> </button>
{% endif %} -->